<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <!-- Todos los logs en aplicación/logs -->
    <target xsi:type="File"
            name="allfile"
            fileName="${currentdir}/logs/all-${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="30"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Errores con más detalle -->
    <target xsi:type="File"
            name="errorfile"
            fileName="${currentdir}/logs/errors-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}Stack Trace: ${exception:format=tostring}${newline}${newline}" />
  </targets>

  <rules>
    <!-- Ignore Microsoft logs and only log warnings or above -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <!-- All logs -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!-- Error logs -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>